.footer {
   box-shadow: rgb(0 0 0 / 56%) 0px 19px 50px 4px;
}

.footer-text {
   background: white;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   margin-bottom: 0;
}

.footer-logo {
   color: #e72525a7;
   font-weight: 700;
}